@model IEnumerable<ShoppingApp.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountOrdered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customer.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOrdered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
